<div class="positive bg-white px-12 pt-8 hover:bg-gray-50 w-full cursor-pointer">
  <div class="border-b border-gray-200 flex flex-col pb-6">
    <div class="text-gray-400 flex divide-x-2 divide-gray-200 truncate mb-4">
      <span class="pr-4">{{articleBrief?.author?.nickName}}</span>
      <time class="pl-4">{{articleBrief?.modifiedTime | date:'yyyy-MM-dd HH:mm'}}</time>
      <app-article-tag-render class="ml-4 pl-4" [tagCodes]="articleBrief?.tags"></app-article-tag-render>
    </div>

    <div class="flex items-center">
      <div class="w-full flex flex-col justify-between h-40 overflow-hidden">
        <div class="truncate  font-bold text-3xl w">
          {{articleBrief?.title}}
        </div>
        <div class="truncate  text-gray-400">
          {{articleBrief?.briefContent}}
        </div>
        <div class="flex text-gray-400">
          <div class="mr-12 flex items-center">
            <i nz-icon nzType="eye" nzTheme="outline"></i>
            <span class="ml-2">{{articleBrief?.viewCount}}</span>
          </div>
          <app-like-count [targetId]="articleBrief?.id" [count]="articleBrief?.likeCount" [isLiked]="articleBrief?.isLiked"
          (onStateChange)="onLikeStateChange($event)"></app-like-count>
          <div class="flex items-center">
            <i nz-icon nzType="comment" nzTheme="outline"></i>
            <span class="ml-2">{{articleBrief?.commentCount}}</span>
          </div>

        </div>
      </div>
      <app-auth-img class="ml-8 w-64 h-40 rounded flex-none" [attachmentId]="articleBrief?.headImageId"></app-auth-img>
    </div>
  </div>
</div>
